# --- Данные ---
kagglehub        # скачивание датасета PaySim с Kaggle
pandas           # чтение и анализ табличных данных (датафреймы)

# --- Разведка данных (EDA) ---
jupyter          # запуск интерактивных ноутбуков .ipynb
matplotlib       # построение графиков
seaborn          # статистические графики поверх matplotlib (покрасивее)
ipykernel        # мостик между .venv и ноутбуком (выбор ядра в VS Code)

# --- Обучение модели ---
lightgbm         # градиентный бустинг — наша модель
scikit-learn     # метрики (PR-AUC и др.)

# --- Стриминг ---
redis            # клиент для общения с Redis-сервером

# --- Дашборд ---
streamlit        # веб-дашборд из Python-скрипта

# --- Разработка ---
pytest           # автоматические тесты